{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block head %}
    {% include 'partials/head.html' %}
  {% endblock head %}

  <body class="{% if request.path == '/chat' %} main-chat-blk {% else %} {% endif %}">
    {% if request.path == '/index' or request.path == '/leads-dashboard' or request.path == '/project-dashboard' %}
      <div class="preloader">
        <span class="loader"></span>
      </div>
    {% endif %}

    <div class="main-wrapper">
      {% block header %}
        {% include 'partials/topbar.html' %}
      {% endblock header %}

      {% block sidebar %}
        {% include 'partials/sidebar.html' %}
      {% endblock sidebar %}

      {% block content %}
      {{ block.super }}
  
  <!-- Job Form Modal -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="job-add" aria-labelledby="job-add-label">
      <div class="offcanvas-header">
          <h5 id="job-add-label">Add New Job</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <form id="job-form" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Save Job</button>
          </form>
      </div>
  </div>

      {% endblock content %}
    </div>

    {% block javascript %}
      {% include 'partials/script.html' %}
    {% endblock javascript %}

    
    {% block theme_settings %}
      {% include 'partials/theme-settings.html' %}
    {% endblock theme_settings %}
      
  </body>
  
  <script type="text/javascript">
    $(document).ready(function () {
        // alert('a');
        $.ajax({
            type: 'GET',
            url: '/sidebar',
            success: function (response) {
                if (response.status == "success" && response.parent_menu_data.length > 0) {
                    console.log(response);

                    var parent_menu_data = response.parent_menu_data;
                    var child_menu_data = response.child_menu_data;
                    // console.log(child_menu_data)
                    var menu_html = '';

                    $('ul.menu').empty(); // Clear existing menu

                    $.each(parent_menu_data, function (index, parent) {
                        var submenu_html = '';

                        // Find child menus related to this parent
                        var children = child_menu_data.filter(child => parseInt(child.parent_menu_id,10) === parent.menu_id);
                        console.log(children)

                        if (children.length > 0) {
                            submenu_html += '<ul>';
                            $.each(children, function (childIndex, child) {
                                submenu_html += `<li><a href="${child.url}">${child.screen_name}</a></li>`;
                            });
                            submenu_html += '</ul>';
                        }

                        menu_html += `
                            <li class="submenu">
                                <a href="javascript:void(0);">
                                    <i class="ti ti-layout-2"></i>
                                    <span>${parent.screen_name}</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                ${submenu_html}
                            </li>
                        `;
                    });

                    $('ul.menu').append(menu_html);

                    
                    $('li.submenu > a').on('click', function () {
                        var $submenu = $(this).next('ul');
                        $submenu.slideToggle();
                        $(this).parent().toggleClass('active');
                    });

                }
            },
            error: function () {
                console.error('Failed to load sidebar menu.');
            }
        });
    });
</script>
<script src="{% static 'js/modal_script.js' %}"></script>
</html>
