{% extends "partials/base.html" %}
{% load static %}

{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Page Header -->
                {% block pagetitle %}
                {% include "partials/title.html" with title="Grade Master" %}
                {% endblock pagetitle %}
                <!-- /Page Header -->
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <!-- Search -->
                <div class="row align-items-center">
                    <div class="col-sm-4">
                        <div class="icon-form mb-3 mb-sm-0">
                            <span class="form-icon"><i class="ti ti-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search Grade Master">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                            <div class="dropdown me-2">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"><i
                                        class="ti ti-package-export me-2"></i>Export</a>
                                <div class="dropdown-menu  dropdown-menu-end">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" class="dropdown-item"><i
                                                    class="ti ti-file-type-pdf text-danger me-1"></i>Export as
                                                PDF</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="dropdown-item"><i
                                                    class="ti ti-file-type-xls text-green me-1"></i>Export as
                                                Excel </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvas_add"><i class="ti ti-square-rounded-plus me-2"></i>Add Grade
                                Master</a>
                        </div>
                    </div>
                </div>
                <!-- /Search -->
            </div>
            <div class="card-body">
                <!-- Contact List -->
                <div class="table-responsive custom-table">
                    <table class="table datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Grade Code</th>
                                <th>Catogery</th>
                                <th>Designation</th>
                                <th>passage_amount_adult</th>
                                <th>passage_amount_child</th>
                                <th>Status</th>
                                <th class="no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in datas %}
                            <tr data-id="{{ record.grade_id }}" 
                            data-code="{{ record.grade_code }}" 
                            data-desc="{{ record.grade_desc }}" 
                            data-designation="{{ record.designation|default:'' }}" 
                            data-passage-adult="{{ record.passage_amount_adult|default:0 }}" 
                            data-passage-child="{{ record.passage_amount_child|default:0 }}" 
                            data-allowance1="{{ record.allowance1|default:'' }}" 
                            data-allowance2="{{ record.allowance2|default:'' }}" 
                            data-allowance3="{{ record.allowance3|default:'' }}" 
                            data-is-active="{{ record.is_active }}">
                        
                        
                                <td>{{record.grade_code}}</td>
                                <td>{{record.grade_desc}}</td>
                                <td>{{record.designation}}</td>
                                <td>{{record.passage_amount_adult}}</td>
                                <td>{{record.passage_amount_child}}</td>

                                <td>
                                    <span class="badge badge-pill badge-status 
                                        {% if record.is_active == 'Y' %} bg-success {% else %} bg-danger {% endif %}">
                                        {% if record.is_active == 'Y' %} Active {% else %} Inactive {% endif %}
                                    </span>
                                </td>
                                <td>
                                    <div class="dropdown table-action">
                                        <a href="#" class="action-icon" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item edit-button" href="javascript:void(0);"
                                                data-bs-toggle="offcanvas" data-bs-target="#offcanvas_edit">
                                                <i class="ti ti-edit text-blue"></i> Edit
                                            </a>
                                            <a class="dropdown-item delete-button" href="#" data-bs-toggle="modal"
                                                data-bs-target="#delete_project">
                                                <i class="ti ti-trash text-danger"></i> Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="7" class="text-center">No records found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="datatable-length"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="datatable-paginate"></div>
                    </div>
                </div>
                <!-- /Contact List -->
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->

{% block contacts_modal %}
{% include "pages/modal/payroll/grademaster_modal.html" %}
{% endblock %}

{% endblock content %}