{% load static %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- Add CodeMaster -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">
    <div class="offcanvas-header border-bottom">
        <h5 class="fw-semibold">Add Code Master</h5>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form method="POST" action="{% url 'code_master_list' %}">
            {% csrf_token %}
            <div class="accordion" id="main_accordion">
                <div class="accordion-item rounded mb-3">
                    <div class="accordion-collapse collapse show" id="basic" data-bs-parent="#main_accordion">
                        <div class="accordion-body border-top">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="col-form-label">Base Type <span class="text-danger">*</span></label>
                                        <div class="dropdown">
                                            <input type="text" id="base_search" class="form-control dropdown-toggle" placeholder="Search and Select Base Type" autocomplete="off" data-bs-toggle="dropdown">
                                            <ul id="base_dropdown" class="dropdown-menu w-100">
                                                {% for base in base_type_suggestions %}
                                                <li>
                                                    <a class="dropdown-item" href="#" data-value="{{ base.base_description }}" data-base-value="{{ base.base_value }}">
                                                        {{ base.base_description }}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <input type="hidden" name="base_description" id="base_description">
                                        <input type="hidden" name="base_type" id="base_type">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row align-items-end">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="col-form-label">Base Value <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" name="base_value" class="form-control"
                                                    autocomplete="off" oninput="this.value = this.value.toUpperCase();">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="col-form-label">Description <span
                                                class="text-danger">*</span></label>
                                        <textarea name="description" class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" name="is_active" class="form-check-input" id="is_active"
                                            checked>
                                        <label class="form-check-label" for="is_active">Is Active</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                <button type="submit" class="btn btn-primary" id="create-btn">Create</button>
            </div>
        </form>
    </div>
</div>
<!-- /Add CodeMaster -->


<!-- Edit CodeMaster -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">
    <div class="offcanvas-header border-bottom">
        <h4>Edit Code Master</h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form id="editForm">
            <div class="mb-3">
                <label for="baseCodeInput" class="form-label">Base Code</label>
                <input type="text" class="form-control" id="baseCodeInput" name="base_code" readonly>
            </div>
            <div class="mb-3">
                <label for="baseDescriptionInput" class="form-label">Base Description</label>
                <input type="text" class="form-control" id="baseDescriptionInput" name="base_description" readonly>
            </div>
            <div class="mb-3">
                <div class="pipe-title d-flex align-items-center justify-content-between">
                    <label for="baseDescriptionInput" class="form-label">Base Values</label>
                </div>
                <div class="pipeline-listing">
                    <div class="pipeline-item">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /Edit CodeMaster -->


<!-- Edit Popup -->
<div class="modal custom-modal fade" id="edit_stage" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Base Description</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="editStageForm">
                    <div class="mb-3">
                        <label for="editStageNameInput" class="form-label">Base Description *</label>
                        <input type="text" class="form-control" id="editStageNameInput" name="base_description"
                            autocomplete="off">
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3 form-check">
                            <input type="checkbox" name="is_active" class="form-check-input" id="is_active" checked>
                            <label class="form-check-label" for="is_active">Is Active</label>
                        </div>
                    </div>
                    <input type="hidden" id="baseValueInput" name="base_value">
                    <input type="hidden" id="baseTypeInput" name="base_type">
                    <div class="modal-btn text-end">
                        <a href="#" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-danger">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Popup -->


<!-- Delete Popup -->
<div class="modal fade" id="delete_stage" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
                        <i class="ti ti-trash-x fs-36 text-danger"></i>
                    </div>
                    <h4 class="mb-2">Remove Stage?</h4>
                    <p class="mb-0">Are you sure you want to remove <br> stage you selected.</p>
                    <div class="d-flex align-items-center justify-content-center mt-4">
                        <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <button id="confirmDeleteBtn" class="btn btn-danger">Yes, Delete it</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Popup -->


<script>
    document.addEventListener("DOMContentLoaded", function () {
        let editButtons = document.querySelectorAll(".edit-btn");
        let deleteButtons = document.querySelectorAll(".delete-btn");
        let confirmDeleteBtn = document.querySelector("#confirmDeleteBtn");
        let baseCodeInput = document.querySelector("#offcanvas_edit input[name='base_code']");
        let baseDescriptionInput = document.querySelector("#offcanvas_edit input[name='base_description']");
        let pipelineListing = document.querySelector(".pipeline-listing");
        let deleteBaseCode, deleteBaseValue;

        if (editButtons && baseCodeInput && baseDescriptionInput && pipelineListing) {
            editButtons.forEach(button => {
                button.addEventListener("click", function () {
                    let baseCode = this.getAttribute("data-base_code");
                    let baseDescription = this.getAttribute("data-base_description");
                    baseCodeInput.value = baseCode;
                    baseDescriptionInput.value = baseDescription.toUpperCase();
                    fetchBaseValues(baseCode);
                })
            })

            function fetchBaseValues(baseCode) {
                let formData = new FormData();
                formData.append("base_code", baseCode);

                fetch("{% url 'code_master_list' %}", {
                    method: "POST",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                    },
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) { displayBaseValues(data.base_values, baseCode) }
                    })
            }

            function displayBaseValues(baseValues, baseCode) {
                pipelineListing.innerHTML = "";
                if (baseValues.length === 0) {
                    let noValuesMessage = document.createElement("div");
                    noValuesMessage.className = "pipeline-item";
                    noValuesMessage.textContent = "No base values found.";
                    pipelineListing.appendChild(noValuesMessage);
                }
                else {
                    baseValues.forEach(value => {
                        let item = document.createElement("div");
                        item.className = "pipeline-item";
                        let isActiveBadge = value.is_active === "Y" ? "bg-success" : "bg-danger";
                        let isActiveText = value.is_active === "Y" ? "Active" : "Inactive";
                        item.innerHTML = `
                            <p><i class="ti ti-grip-vertical"></i> ${value.base_value}</p>
                            <div class="action-pipeline">
                                <a>
                                    <span class="badge badge-pill ${isActiveBadge}">
                                        ${isActiveText}
                                    </span>
                                </a>
                                <a href="#" class="edit-base-value" data-base_code="${baseCode}" data-base_value="${value.base_value}" data-bs-toggle="modal" data-bs-target="#edit_stage">
                                    <i class="ti ti-edit text-blue"></i>Edit
                                </a>
                                <a href="#" class="delete-base-value" data-base_code="${baseCode}" data-base_value="${value.base_value}" data-bs-toggle="modal" data-bs-target="#delete_stage">
                                    <i class="ti ti-trash text-danger"></i>Delete
                                </a>
                            </div>
                        `;
                        pipelineListing.appendChild(item);
                    })

                    document.querySelectorAll(".edit-base-value").forEach(button => {
                        button.addEventListener("click", function () {
                            let baseCode = this.getAttribute("data-base_code");
                            let baseValue = this.getAttribute("data-base_value");
                            fetchBaseDescription(baseCode, baseValue);
                        })
                    })

                    document.querySelectorAll(".delete-base-value").forEach(button => {
                        button.addEventListener("click", function () {
                            deleteBaseCode = this.getAttribute("data-base_code");
                            deleteBaseValue = this.getAttribute("data-base_value");
                        })
                    })
                }
            }

            function fetchBaseDescription(baseCode, baseValue) {
                let formData = new FormData();
                formData.append("base_code", baseCode);
                formData.append("base_value", baseValue);
                formData.append("request_type", "fetch_base_description");

                fetch("{% url 'code_master_list' %}", {
                    method: "POST",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                    },
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            document.querySelector("#editStageForm input[name='base_description']").value = data.base_description;
                            document.querySelector("#editStageForm input[name='base_value']").value = baseValue;
                            document.querySelector("#editStageForm input[name='base_type']").value = baseCode;
                            document.querySelector("#editStageForm input[name='is_active']").checked = data.is_active;
                        }
                    });
            }

            document.querySelector("#editStageForm").addEventListener("submit", function (event) {
                event.preventDefault();

                let formData = new FormData(this);
                formData.append("request_type", "update_base_description");

                let isActive = document.querySelector("#editStageForm input[name='is_active']").checked ? "Y" : "N";
                formData.set("is_active", isActive);

                let baseCode = document.querySelector("#editStageForm input[name='base_type']").value;
                formData.set("base_code", baseCode);

                fetch("{% url 'code_master_list' %}", {
                    method: "POST",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                    },
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.reload();
                        }
                    });
            });

            confirmDeleteBtn.addEventListener("click", function () {
                let formData = new FormData();
                formData.append("base_code", deleteBaseCode);
                formData.append("base_value", deleteBaseValue);
                formData.append("request_type", "delete_base_value");

                fetch("{% url 'code_master_list' %}", {
                    method: "POST",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                    },
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) { window.location.reload() }
                    })
            })
        }

        // // Remove the backdrop element when the modal is shown
        // let modals = document.querySelectorAll('.modal');
        // modals.forEach(modal => {
        //     modal.addEventListener('shown.bs.modal', function () {
        //         let backdrop = document.querySelector('.modal-backdrop');
        //         if (backdrop) {
        //             backdrop.remove();
        //         }
        //     });
        // });
    })
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("base_search");
        const dropdown = document.getElementById("base_dropdown");
        const hiddenBaseDesc = document.getElementById("base_description");
        const hiddenBaseType = document.getElementById("base_type");

        // Search functionality
        searchInput.addEventListener("input", function () {
            let searchText = searchInput.value.toLowerCase();
            let items = dropdown.getElementsByTagName("a");

            for (let item of items) {
                let text = item.textContent.toLowerCase();
                if (text.includes(searchText)) { item.style.display = "block" } 
                else { item.style.display = "none" }
            }
        });

        // Handle selection from dropdown
        dropdown.addEventListener("click", function (event) {
            if (event.target.tagName === "A") {
                searchInput.value = event.target.textContent; 
                hiddenBaseDesc.value = event.target.getAttribute("data-value");
                hiddenBaseType.value = event.target.getAttribute("data-base-value");
                searchInput.classList.remove("show"); 
            }
        });

        // Close dropdown when clicking outside
        document.addEventListener("click", function (event) {
            if (!searchInput.contains(event.target) && !dropdown.contains(event.target)) { searchInput.classList.remove("show") }
        })
    })
</script>


<style>
    .dropdown-menu {
        max-height: 200px;
        overflow-y: auto;
    }
    .dropdown-item {
        cursor: pointer;
    }
    .dropdown-item:hover {
        background-color: #f1f1f1;
    }
</style>