{% load static %}

<!-- Add Pay Cycle -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">
    <div class="offcanvas-header border-bottom">
        <h4>Add New Paycycle Master</h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form method="POST" action="{% url 'payroll_paycycle_master' %}" class="needs-validation" novalidate>
            {% csrf_token %}
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label">Process Cycle<span class="text-danger">*</span></label>
                                <select class="form-select" required aria-label="select example" name="process_cycle">
                                    <option value="">Select</option>
                                    <option value="101">101</option>
                                    <option value="102">102</option>
                                    <option value="103">103</option>
                                    <option value="ABC">ABC</option>
                                    <option value="XYZ">XYZ</option>
                                    <option value="123ABC">123ABC</option>
                                </select>
                                <div class="invalid-feedback">Please provide a process cycle.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Process Description<span class="text-danger"> *</span></label>
                            <input class="form-control" type="text" name="process_description" autocomplete="off"
                                required>
                            <div class="invalid-feedback">Please provide a process description.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Pay Process Month<span class="text-danger"> *</span></label>
                            <input class="form-control" type="text" name="pay_process_month" autocomplete="off"
                                required>
                            <div class="invalid-feedback">Please provide a pay process month.</div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Process Comp Flag<span class="text-danger"> *</span></label>
                            <select class="form-select" required aria-label="select example" name="process_comp_flag">
                                <option value="">Select</option>
                                <option value="Initial">Initial</option>
                                <option value="Processing">Processing</option>
                                <option value="Completed">Completed</option>
                            </select>
                            <div class="invalid-feedback">Please provide a process comp flag.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">From Date <span class="text-danger">*</span></label>
                            <div class="icon-form">
                                <span class="form-icon"></span>
                                <input type="date" class="form-control" name="date_from" id="date_from"
                                    autocomplete="off" required>
                                <div class="invalid-feedback">Please provide a from date.</div>
                                <div id="date-error-from" class="text-danger"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">To Date <span class="text-danger">*</span></label>
                            <div class="icon-form">
                                <span class="form-icon"></i></span>
                                <input type="date" class="form-control" name="date_to" id="date_to" autocomplete="off"
                                    required>
                                <div class="invalid-feedback">Please provide a to date.</div>
                                <div id="date-error-to" class="text-danger"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Attendance UOM<span class="text-danger">*</span></label>
                            <select class="form-select" required aria-label="select example" name="attendance_uom">
                                <option value="">Select</option>
                                <option value="Days">Days</option>
                                <option value="Hours">Hours</option>
                            </select>
                            <div class="invalid-feedback">Please provide a attendance uom.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Process Date <span class="text-danger">*</span></label>
                            <div class="icon-form">
                                <span class="form-icon"></i></span>
                                <input type="date" class="form-control" name="process_date" autocomplete="off" required>
                                <div class="invalid-feedback">Please provide a process date.</div>
                                <div id="date-error-process" class="text-danger"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Default Project<span class="text-danger">*</span></label>
                            <select class="form-select" required aria-label="select example" name="default_project">
                                <option value="">Select</option>
                                <option value="NovaWave LLC">NovaWave LLC</option>
                                <option value="Silver Hawk">Silver Hawk</option>
                                <option value="Harbor View">Harbor View</option>
                            </select>
                            <div class="invalid-feedback">Please provide a default project.</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Start Time <span class="text-danger">*</span></label>
                            <div class="icon-form">
                                <span class="form-icon"><i class=""></i></span>
                                <input type="time" class="form-control" name="start_time" autocomplete="off" required>
                                <div class="invalid-feedback">Please provide a start time.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">End Time <span class="text-danger">*</span></label>
                            <div class="icon-form">
                                <span class="form-icon"><i class=""></i></span>
                                <input type="time" class="form-control" name="end_time" autocomplete="off" required>
                                <div class="invalid-feedback">Please provide a end time.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Hours Per Day<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="hours_per_day" autocomplete="off" required>
                            <div class="invalid-feedback">Please provide a hours per day.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Days Per Month<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="days_per_month" id="days_per_month"
                                autocomplete="off" required>
                            <div class="invalid-feedback">Please provide a days per month.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Transportation Time(Travel)<span class="text-danger">
                                    *</span></label>
                            <input class="form-control" type="number" name="travel_time" autocomplete="off">
                            <!-- <div class="invalid-feedback">Please provide a transportation time.</div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Lunch Break (In Minutes)<span class="text-danger">
                                    *</span></label>
                            <input class="form-control" type="number" name="lunch_break" autocomplete="off">
                            <!-- <div class="invalid-feedback">Please provide a lunch break.</div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Max Mn Hrs<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="max_mn_hrs" id="max_mn_hrs"
                                autocomplete="off" required>
                            <div class="invalid-feedback">Please provide a max mn hrs.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Max An Hrs<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="max_an_hrs" id="max_an_hrs"
                                autocomplete="off" required>
                            <div class="invalid-feedback">Please provide a max an hrs.</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">OT1 Eligible<span class="text-danger">*</span></label>
                            <select class="form-select" required aria-label="select example" name="ot_eligible"
                                id="add_ot_eligible" onchange="changeOTFields('ot1');">
                                <option value="">Select</option>
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                            <div class="invalid-feedback">Please provide a ot1 eligible.</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Max OT1 Hrs<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="max_ot1_hrs" id="max_ot1_hrs"
                                autocomplete="off" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">OT1 Amt<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="ot1_amt" id="ot1_amt" autocomplete="off"
                                disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">OT2 Eligible<span class="text-danger">*</span></label>
                            <select class="form-select" required aria-label="select example" name="ot2_eligible"
                                id="add_ot2_eligible" onchange="changeOTFields('ot2');">
                                <option value="">Select</option>
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                            <div class="invalid-feedback">Please provide a ot2 eligible.</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Max OT2 Hrs<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="max_ot2_hrs" id="max_ot2_hrs"
                                autocomplete="off" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">OT2 Amt<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="ot2_amt" id="ot2_amt" autocomplete="off"
                                disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-check form-check-md d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" name="is_active" value="Y" id="checkebox-md"
                                checked />
                            <label class="form-check-label" for="checkebox-md">is Active</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>
<!-- Add Pay Cycle -->

<script>
    function changeOTFields(type) {
        var otEligibleDropdown, maxOtHrsInput, otAmtInput;
        if (type === 'ot1') {
            otEligibleDropdown = document.getElementById("add_ot_eligible");
            maxOtHrsInput = document.getElementById("max_ot1_hrs");
            otAmtInput = document.getElementById("ot1_amt");
        } else if (type === 'ot2') {
            otEligibleDropdown = document.getElementById("add_ot2_eligible");
            maxOtHrsInput = document.getElementById("max_ot2_hrs");
            otAmtInput = document.getElementById("ot2_amt");
        }
        if (otEligibleDropdown && otEligibleDropdown.value === "Y") {
            maxOtHrsInput.disabled = false;
            otAmtInput.disabled = false;
        }
        else {
            maxOtHrsInput.disabled = true;
            otAmtInput.disabled = true;
            maxOtHrsInput.value = "";
            otAmtInput.value = "";
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        var processDateInput = document.querySelector('input[name="process_date"]');
        var fromDateInput = document.querySelector('input[name="date_from"]');
        var toDateInput = document.querySelector('input[name="date_to"]');
        var dateErrorContainerFrom = document.getElementById('date-error-from');
        var dateErrorContainerTo = document.getElementById('date-error-to');
        var dateErrorContainerProcess = document.getElementById('date-error-process');

        function validateDate(input, errorContainer) {
            var selectedDate = new Date(input.value);
            var currentDate = new Date();
            var oneYearAgo = new Date();
            oneYearAgo.setFullYear(currentDate.getFullYear() - 1);
            oneYearAgo.setMonth(currentDate.getMonth(), 1);
            oneYearAgo.setHours(0, 0, 0, 0);

            if (selectedDate < oneYearAgo) {
                errorContainer.textContent = 'You have selected a date that is too far in the past. Only dates within the last year are allowed.';
                input.value = '';
            } else {
                errorContainer.textContent = '';
            }
        }

        processDateInput.addEventListener('change', function () {
            validateDate(processDateInput, dateErrorContainerProcess);
        });

        fromDateInput.addEventListener('change', function () {
            validateDate(fromDateInput, dateErrorContainerFrom);
        });

        toDateInput.addEventListener('change', function () {
            validateDate(toDateInput, dateErrorContainerTo);
        });
    });


    document.addEventListener('DOMContentLoaded', function () {
        var dateFromInput = document.getElementById('date_from');
        var dateToInput = document.getElementById('date_to');
        var daysPerMonthInput = document.getElementById('days_per_month');

        function calculateDaysBetweenDates() {
            var dateFrom = new Date(dateFromInput.value);
            var dateTo = new Date(dateToInput.value);

            if (isNaN(dateFrom.getTime()) || isNaN(dateTo.getTime())) {
                return;
            }

            var timeDifference = dateTo.getTime() - dateFrom.getTime() + (1000 * 3600 * 24);

            var dayDifference = Math.ceil(timeDifference / (1000 * 3600 * 24));

            daysPerMonthInput.value = dayDifference;
        }

        dateFromInput.addEventListener('change', calculateDaysBetweenDates);
        dateToInput.addEventListener('change', calculateDaysBetweenDates);
    });

</script>


<!-- EditPay Cycle -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">
    <div class="offcanvas-header border-bottom">
        <h4>Edit Paycycle</h4>
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form method="POST" action="{% url 'payroll_paycycle_master' %}">
            {% csrf_token %}
            <input type="hidden" name="process_cycle_id" id="process_cycle_id" value="">
            <div>
                <div class="row">
                    <!-- Form fields for editing -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Process Cycle<span class="text-danger">*</span></label>
                            <select class="select2" name="process_cycle" id="edit_process_cycle">
                                <option value="">Select</option>
                                <option value="101">101</option>
                                <option value="102">102</option>
                                <option value="103">103</option>
                                <option value="ABC">ABC</option>
                                <option value="XYZ">XYZ</option>
                                <option value="123ABC">123ABC</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Process Description<span class="text-danger"> *</span></label>
                            <input class="form-control" type="text" name="process_description"
                                id="edit_process_description" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Pay Process Month<span class="text-danger"> *</span></label>
                            <input class="form-control" type="text" name="pay_process_month" id="edit_pay_process_month"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Process Comp Flag<span class="text-danger"> *</span></label>
                            <select class="form-select" required aria-label="select example" name="process_comp_flag"
                                id="edit_process_comp_flag">
                                <option value="">Select</option>
                                <option value="Initial">Initial</option>
                                <option value="Processing">Processing</option>
                                <option value="Completed">Completed</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">From Date <span class="text-danger">*</span></label>
                            <div class="icon-form">
                                <span class="form-icon"></i></span>
                                <input type="date" class="form-control" name="date_from" id="edit_date_from"
                                    autocomplete="off">
                                <div class="text-danger" id="date-errors-from"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">To Date <span class="text-danger">*</span></label>
                            <div class="icon-form">
                                <span class="form-icon"></i></span>
                                <input type="date" class="form-control" name="date_to" id="edit_date_to"
                                    autocomplete="off">
                                <div class="text-danger" id="date-errors-to"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Attendance UOM<span class="text-danger">*</span></label>
                            <select class="form-select" required aria-label="select example" name="attendance_uom"
                                id="edit_attendance_uom">
                                <option value="">Select</option>
                                <option value="Days">Days</option>
                                <option value="Hours">Hours</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Process Date <span class="text-danger">*</span></label>
                            <div class="icon-form">
                                <span class="form-icon"></i></span>
                                <input type="date" class="form-control" name="process_date" id="edit_process_date"
                                    autocomplete="off">
                                <div class="invalid-feedback">Please provide a process date.</div>
                                <div class="text-danger" id="date-errors-process"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Default Project<span class="text-danger">*</span></label>
                            <select class="select" name="default_project" id="edit_default_project">
                                <option value="">Select</option>
                                <option value="NovaWave LLC">NovaWave LLC</option>
                                <option value="Silver Hawk">Silver Hawk</option>
                                <option value="Harbor View">Harbor View</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Start Time <span class="text-danger">*</span></label>
                            <div class="icon-form">
                                <span class="form-icon"><i class=""></i></span>
                                <input type="time" class="form-control" name="start_time" id="edit_start_time"
                                    autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">End Time <span class="text-danger">*</span></label>
                            <div class="icon-form">
                                <span class="form-icon"><i class=""></i></span>
                                <input type="time" class="form-control" name="end_time" id="edit_end_time"
                                    autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Hours Per Day<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="hours_per_day" id="edit_hours_per_day"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Days Per Month<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="days_per_month" id="edit_days_per_month"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Transportation Time(Travel)<span class="text-danger">
                                    *</span></label>
                            <input class="form-control" type="number" name="travel_time" id="edit_travel_time"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Lunch Break (In Minutes)<span class="text-danger">
                                    *</span></label>
                            <input class="form-control" type="number" name="lunch_break" id="edit_lunch_break"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Max Mn Hrs<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="max_mn_hrs" id="edit_max_mn_hrs"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Max An Hrs<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="max_an_hrs" id="edit_max_an_hrs"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">OT1 Eligible<span class="text-danger">*</span></label>
                            <select class="select2" name="ot_eligible" id="edit_ot_eligible"
                                onchange="toggleOTFields('ot1');">
                                <option value="">Select</option>
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Max OT1 Hrs<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="max_ot1_hrs" id="edit_max_ot1_hrs"
                                autocomplete="off" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">OT1 Amt<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="ot1_amt" id="edit_ot1_amt"
                                autocomplete="off" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">OT2 Eligible<span class="text-danger">*</span></label>
                            <select class="select2" name="ot2_eligible" id="edit_ot2_eligible"
                                onchange="toggleOTFields('ot2');">
                                <option value="">Select</option>
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">Max OT2 Hrs<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="max_ot2_hrs" id="edit_max_ot2_hrs"
                                autocomplete="off" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label">OT2 Amt<span class="text-danger"> *</span></label>
                            <input class="form-control" type="number" name="ot2_amt" id="edit_ot2_amt"
                                autocomplete="off" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-check form-check-md d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" name="is_active" value="Y"
                                id="edit_checkebox_md" checked />
                            <label class="form-check-label" for="edit_checkebox_md">is Active</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>
<!-- EditPay Cycle -->


<script>
    function toggleOTFields(type) {
        if (type === 'ot1') {
            var otEligibleDropdown = document.getElementById("edit_ot_eligible");
            var maxOt1HrsInput = document.getElementById("edit_max_ot1_hrs");
            var ot1AmtInput = document.getElementById("edit_ot1_amt");

            if (otEligibleDropdown.value === "Y") {
                maxOt1HrsInput.disabled = false;
                ot1AmtInput.disabled = false;
            }
            else {
                maxOt1HrsInput.disabled = true;
                ot1AmtInput.disabled = true;
                maxOt1HrsInput.value = "";
                ot1AmtInput.value = "";
            }
        }
        else if (type === 'ot2') {
            var ot2EligibleDropdown = document.getElementById("edit_ot2_eligible");
            var maxOt2HrsInput = document.getElementById("edit_max_ot2_hrs");
            var ot2AmtInput = document.getElementById("edit_ot2_amt");

            if (ot2EligibleDropdown.value === "Y") {
                maxOt2HrsInput.disabled = false;
                ot2AmtInput.disabled = false;
            }
            else {
                maxOt2HrsInput.disabled = true;
                ot2AmtInput.disabled = true;
                maxOt2HrsInput.value = "";
                ot2AmtInput.value = "";
            }
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        var processDateInput = document.querySelector('input[id="edit_process_date"]');
        var fromDateInput = document.querySelector('input[id="edit_date_from"]');
        var toDateInput = document.querySelector('input[id="edit_date_to"]');
        var dateErrorContainerFrom = document.getElementById('date-errors-from');
        var dateErrorContainerTo = document.getElementById('date-errors-to');
        var dateErrorContainerProcess = document.getElementById('date-errors-process');

        function validateDate(input, errorContainer) {
            var selectedDate = new Date(input.value);
            var currentDate = new Date();
            var oneYearAgo = new Date();
            oneYearAgo.setFullYear(currentDate.getFullYear() - 1);
            oneYearAgo.setMonth(currentDate.getMonth(), 1);
            oneYearAgo.setHours(0, 0, 0, 0);

            if (selectedDate < oneYearAgo) {
                errorContainer.textContent = 'You have selected a date that is too far in the past. Only dates within the last year are allowed.';
                input.value = '';
            } else {
                errorContainer.textContent = '';
            }
        }

        processDateInput.addEventListener('change', function () {
            validateDate(processDateInput, dateErrorContainerProcess);
        });

        fromDateInput.addEventListener('change', function () {
            validateDate(fromDateInput, dateErrorContainerFrom);
        });

        toDateInput.addEventListener('change', function () {
            validateDate(toDateInput, dateErrorContainerTo);
        });
    });

    document.addEventListener('DOMContentLoaded', function () {

        var editButtons = document.querySelectorAll('.edit-paycycle');
        editButtons.forEach(function (button) {
            var addOt1Dropdown = document.getElementById("add_ot_eligible");
            var addOt2Dropdown = document.getElementById("add_ot2_eligible");

            if (addOt1Dropdown) {
                addOt1Dropdown.addEventListener('change', function () {
                    toggleOTFields('ot1');
                });
            }

            if (addOt2Dropdown) {
                addOt2Dropdown.addEventListener('change', function () {
                    toggleOTFields('ot2');
                });
            }
            button.addEventListener('click', function () {
                var processCycleId = button.getAttribute('data-process-cycle-id');
                var processCycle = button.getAttribute('data-process-cycle');
                var processDescription = button.getAttribute('data-process-description');
                var payProcessMonth = button.getAttribute('data-pay-process-month');
                var dateFrom = button.getAttribute('data-date-from');
                var dateTo = button.getAttribute('data-date-to');
                var attendance = button.getAttribute('data-attendance');
                var processCompFlag = button.getAttribute('data-process-comp-flag');
                var processDate = button.getAttribute('data-process-date');
                var defaultProject = button.getAttribute('data-default-project');
                var startTime = button.getAttribute('data-start-time');
                var endTime = button.getAttribute('data-end-time');
                var hoursPerDay = button.getAttribute('data-hours-per-day');
                var daysPerMonth = button.getAttribute('data-days-per-month');
                var travelTime = button.getAttribute('data-travel-time');
                var lunchBreak = button.getAttribute('data-lunch-break');
                var maxMnHrs = button.getAttribute('data-max-mn-hrs');
                var maxAnHrs = button.getAttribute('data-max-an-hrs');
                var otEligible = button.getAttribute('data-ot-eligible');
                var maxOt1Hrs = button.getAttribute('data-max-ot1-hrs');
                var ot1Amt = button.getAttribute('data-ot1-amt');
                var ot2Eligible = button.getAttribute('data-ot2-eligible');
                var maxOt2Hrs = button.getAttribute('data-max-ot2-hrs');
                var ot2Amt = button.getAttribute('data-ot2-amt');
                var isActive = button.getAttribute('data-is-active');

                console.log("dateFrom:", dateFrom);
                console.log("dateTo:", dateTo);
                console.log("processDate:", processDate);

                document.getElementById('process_cycle_id').value = processCycleId;
                document.getElementById('edit_process_cycle').value = processCycle;
                document.getElementById('edit_process_description').value = processDescription;
                document.getElementById('edit_pay_process_month').value = payProcessMonth;
                document.getElementById('edit_date_from').value = formatDate(dateFrom);
                document.getElementById('edit_date_to').value = formatDate(dateTo);
                document.getElementById('edit_attendance_uom').value = attendance;
                document.getElementById('edit_process_comp_flag').value = processCompFlag;
                document.getElementById('edit_process_date').value = formatDate(processDate);
                document.getElementById('edit_default_project').value = defaultProject;
                document.getElementById('edit_start_time').value = startTime;
                document.getElementById('edit_end_time').value = endTime;
                document.getElementById('edit_hours_per_day').value = hoursPerDay;
                document.getElementById('edit_days_per_month').value = daysPerMonth;
                document.getElementById('edit_travel_time').value = travelTime;
                document.getElementById('edit_lunch_break').value = lunchBreak;
                document.getElementById('edit_max_mn_hrs').value = maxMnHrs;
                document.getElementById('edit_max_an_hrs').value = maxAnHrs;
                document.getElementById('edit_ot_eligible').value = otEligible;
                document.getElementById('edit_max_ot1_hrs').value = maxOt1Hrs;
                document.getElementById('edit_ot1_amt').value = ot1Amt;
                document.getElementById('edit_ot2_eligible').value = ot2Eligible;
                document.getElementById('edit_max_ot2_hrs').value = maxOt2Hrs;
                document.getElementById('edit_ot2_amt').value = ot2Amt;
                document.getElementById('edit_checkebox_md').checked = (isActive === 'Y');
                $('#edit_process_cycle').val(processCycle).trigger('change');
                $('#edit_default_project').val(defaultProject).trigger('change');
                $('#edit_ot_eligible').val(otEligible).trigger('change');
                $('#edit_ot2_eligible').val(ot2Eligible).trigger('change');

                toggleOTFields('ot1');
                toggleOTFields('ot2');
            });
        });

    });

    document.addEventListener('DOMContentLoaded', function () {
        var dateFromInput = document.getElementById('edit_date_from');
        var dateToInput = document.getElementById('edit_date_to');
        var daysPerMonthInput = document.getElementById('edit_days_per_month');

        function calculateDaysBetweenDates() {
            var dateFrom = new Date(dateFromInput.value);
            var dateTo = new Date(dateToInput.value);

            if (isNaN(dateFrom.getTime()) || isNaN(dateTo.getTime())) {
                return;
            }

            var timeDifference = dateTo.getTime() - dateFrom.getTime() + (1000 * 3600 * 24);

            var dayDifference = Math.ceil(timeDifference / (1000 * 3600 * 24));

            daysPerMonthInput.value = dayDifference;
        }

        dateFromInput.addEventListener('change', calculateDaysBetweenDates);
        dateToInput.addEventListener('change', calculateDaysBetweenDates);
    });

    function formatDate(dateStr) {
        if (!dateStr) return "";
        var date = new Date(dateStr);
        var day = ("0" + date.getDate()).slice(-2);
        var month = ("0" + (date.getMonth() + 1)).slice(-2);
        var year = date.getFullYear();
        return `${year}-${month}-${day}`;
    }
</script>



<!-- Delete Project Modal -->
<div class="modal fade" id="delete_project" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
                        <i class="ti ti-trash-x fs-36 text-danger"></i>
                    </div>
                    <h4 class="mb-2">Remove Pay Cycle?</h4>
                    <p class="mb-0">Are you sure you want to delete the selected pay cycle?</p>
                    <input type="hidden" id="processCycleId" value="">
                    <div class="d-flex align-items-center justify-content-center mt-4">
                        <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <a href="#" class="btn btn-danger" id="confirmDelete">Yes, Delete it</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Project -->