<!-- Add Material Request Modal -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_add" style="width: 1000px !important;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Add New Material Request</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="addMRForm" method="post" action="{% url 'material_request_add' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Request Type <span class="text-danger">*</span></label>
                        <select class="form-select" name="ordr_type" required>
                            <option value="MR">Material Request</option>
                            <option value="PR">Purchase Request</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Request Date <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" name="ordr_date" max="{% now 'Y-m-d' %}" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Request Number</label>
                        <input type="text" class="form-control" name="ordr_numb" readonly>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Job Code <span class="text-danger">*</span></label>
                        <select class="form-select" name="job_code" required>
                            <option value="">Select Job Code</option>
                            {% for job in job_codes %}
                                <option value="{{ job.prj_code }}">{{ job.prj_code }} - {{ job.prj_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>PR Number</label>
                        <select class="form-select" name="quot_numb" id="pr_number">
                            <option value="">Select PR Number</option>
                            {% for pr in pr_data %}
                                <option value="{{ pr.ordr_numb }}">{{ pr.ordr_numb }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Ref Date</label>
                        <input type="date" class="form-control" name="quot_date">
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <h6>Items</h6>
                    <div id="items-container-add"></div>
                    <button type="button" class="btn btn-secondary mt-2" id="add-item-add">
                        <i class="ti ti-plus me-2"></i>Add Item
                    </button>
                </div>
            </div>

            <div class="text-end mt-4">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- Edit Material Request Modal -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_edit" style="width: 1000px !important;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Edit Material Request</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="editMRForm" method="post" action="{% url 'material_request_edit' %}">
            {% csrf_token %}
            <input type="hidden" id="mr_id" name="mr_id">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Request Type <span class="text-danger">*</span></label>
                        <select class="form-select" id="ordr_type" name="ordr_type" required>
                            <option value="MR">Material Request</option>
                            <option value="PR">Purchase Request</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Request Date <span class="text-danger">*</span></label>
                        <input type="date" class="form-control" id="ordr_date" name="ordr_date" max="{% now 'Y-m-d' %}" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Request Number</label>
                        <input type="text" class="form-control" id="ordr_numb" name="ordr_numb" readonly>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Job Code <span class="text-danger">*</span></label>
                        <select class="form-select" id="job_code" name="job_code" required>
                            <option value="">Select Job Code</option>
                            {% for job in job_codes %}
                                <option value="{{ job.prj_code }}">{{ job.prj_code }} - {{ job.prj_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>PR Number</label>
                        <select class="form-select" id="quot_numb" name="quot_numb">
                            <option value="">Select PR Number</option>
                            {% for pr in pr_data %}
                                <option value="{{ pr.ordr_numb }}">{{ pr.ordr_numb }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Ref Date</label>
                        <input type="date" class="form-control" id="quot_date" name="quot_date">
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <h6>Items</h6>
                    <div id="items-container-edit"></div>
                    <button type="button" class="btn btn-secondary mt-2" id="add-item-edit">
                        <i class="ti ti-plus me-2"></i>Add Item
                    </button>
                </div>
            </div>

            <div class="text-end mt-4">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                <button type="submit" class="btn btn-primary edit-btn">Update</button>
            </div>
        </form>
    </div>
</div>

<!-- Delete Material Request Modal -->
<div class="modal fade" id="delete_mr" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Material Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this material request?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
            </div>
        </div>
    </div>
</div> 