{% extends "partials/base.html" %}
{% load static %}

{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">

        <div class="row">
            <div class="col-md-12">

                <!-- Page Header -->
                {% block pagetitle %}
                {% include "partials/title.html" with title="LeaveMaster" %}
                {% endblock pagetitle %}
                <!-- /Page Header -->

                <div class="card">
                    <div class="card-header">
                        <!-- Search -->
                        <div class="row align-items-center mb-3">
                            <div class="col-sm-4">
                                <div class="icon-form mb-3 mb-sm-0">
                                    <span class="form-icon"><i class="ti ti-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search LeaveMaster">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                                    <div class="dropdown me-2">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                                            <i class="ti ti-package-export me-2"></i>Export
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item">
                                                        <i class="ti ti-file-type-pdf text-danger me-1"></i>Export as
                                                        PDF
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item">
                                                        <i class="ti ti-file-type-xls text-green me-1"></i>Export as
                                                        Excel
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Add New Leave Button -->
                                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_add_leave">
                                        <i class="ti ti-square-rounded-plus me-2"></i>Add Leave
                                    </a>
                                    


                                </div>
                            </div>
                        </div>
                        <!-- /Search -->

                        <!-- LeaveMaster List -->
                        <div class="table-responsive custom-table">
                            <table class="table datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Leave Code</th>
                                        <th>Description</th>
                                        <th>Work Month</th>
                                        <th>Eligible Days</th>
                                        <th>Day Type</th>
                                        <th>Payment Type</th>
                                        <th>Frequency</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in leavemaster %}
                                    <tr>
                                        <td>{{ record.leave_code }}</td>
                                        <td>{{ record.leave_description }}</td>
                                        <td>{{ record.work_month }}</td>
                                        <td>{{ record.eligible_days }}</td>
                                        <td>{{ record.get_eligible_day_type_display }}</td>
                                        <td>{{ record.get_payment_type_display }}</td>
                                        <td>{{ record.get_frequency_display }}</td>
                                        <td>
                                            <div class="dropdown table-action">
                                                <a href="#" class="action-icon" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_edit" href="#">
                                                        <i class="ti ti-edit text-blue"></i>Edit
                                                    </a>
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_task" data-id="{{ record.id }}">
                                                        <i class="ti ti-trash text-danger"></i>Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="datatable-length"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="datatable-paginate"></div>
                            </div>
                        </div>
                        <!-- /LeaveMaster List -->

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- /Page Wrapper -->

<!-- Include Modal -->
{% include "pages/modal/payroll/leave_modal.html" %}

{% endblock content %}