{% extends "partials/base.html" %}
{% load static %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                {% block pagetitle %}
                {% include "partials/title.html" with title="Code Master" %}
                {% endblock pagetitle %}
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-sm-4">
                        <form method="get">
                            <div class="icon-form mb-3 mb-sm-0">
                                <span class="form-icon"><i class="ti ti-search"></i></span>
                                <input type="text" name="keyword" class="form-control" placeholder="Search Base Type" value="{{ keyword }}">
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-8">
                        <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                            <div class="dropdown me-2">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="ti ti-package-export me-2"></i>Export
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" class="dropdown-item">
                                                <i class="ti ti-file-type-pdf text-danger me-1"></i>Export as PDF
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="dropdown-item">
                                                <i class="ti ti-file-type-xls text-green me-1"></i>Export as Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvas_add"><i class="ti ti-square-rounded-plus me-2"></i>Add Code Master</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive custom-table">
                    <table class="table datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Base Code</th>
                                <th>Base Description</th>
                                <th class="no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for base in base_type_comp_code %}
                            <tr>
                                <td>{{ base.base_value }}</td>
                                <td>{{ base.base_description|upper }}</td>
                                <td>
                                    <div class="dropdown table-action">
                                        <a href="#" class="action-icon" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item edit-btn" href="javascript:void(0);"
                                                data-bs-toggle="offcanvas" data-bs-target="#offcanvas_edit"
                                                data-base_code="{{ base.base_value }}"
                                                data-base_description="{{ base.base_description }}">
                                                <i class="ti ti-edit text-blue"></i> View
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Pagination -->
                {% if base_type_comp_code.has_other_pages %}
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <div class="showing-entries">
                        <span>Showing {{ base_type_comp_code.start_index }} to {{ base_type_comp_code.end_index }} of {{ result_cnt }} entries</span>
                    </div>
                    <ul class="pagination">
                        {% if base_type_comp_code.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{{ current_url }}keyword={{ keyword }}&page={{ base_type_comp_code.previous_page_number }}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                        {% endif %}

                        {% for page in base_type_comp_code.paginator.page_range %}
                        {% if base_type_comp_code.number == page %}
                        <li class="page-item active">
                            <a class="page-link" href="{{ current_url }}keyword={{ keyword }}&page={{ page }}">{{ page }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ current_url }}keyword={{ keyword }}&page={{ page }}">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if base_type_comp_code.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ current_url }}keyword={{ keyword }}&page={{ base_type_comp_code.next_page_number }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Page Wrapper -->


<script>
    document.addEventListener("DOMContentLoaded", function () {
        let baseDescriptionSelect = document.getElementById("base_description");
        let baseValueInput = document.querySelector("input[name='base_value']");
        let baseTypeInput = document.getElementById("base_type");
        let descriptionTextarea = document.querySelector("textarea[name='description']");
        let createButton = document.getElementById("create-btn");
        let validationMessage = document.createElement("small");
        validationMessage.style.color = "red";
        baseValueInput.parentNode.appendChild(validationMessage);

        function updateButtonState() {
            let isDescriptionValid = descriptionTextarea.value.trim() !== "";
            let isBaseValueValid = baseValueInput.value.trim() !== "";
            let isBaseTypeValid = baseTypeInput.value.trim() !== "";
            let isValidationMessageEmpty = validationMessage.textContent === "";
            createButton.disabled = !(isDescriptionValid && isBaseValueValid && isBaseTypeValid && isValidationMessageEmpty);
        }

        baseDescriptionSelect.addEventListener("change", function () {
            let selectedOption = baseDescriptionSelect.options[baseDescriptionSelect.selectedIndex];
            baseTypeInput.value = selectedOption.dataset.baseValue || "";
            updateButtonState();
        })

        function debounce(func, delay) {
            let timer;
            return function (...args) {
                clearTimeout(timer);
                timer = setTimeout(() => func.apply(this, args), delay);
            }
        }

        function checkBaseValue() {
            let baseValue = baseValueInput.value.trim();
            let baseType = baseTypeInput.value.trim();
            if (baseValue.length > 0) {
                let formData = new FormData();
                formData.append("request_type", "check_base_value_exists");
                formData.append("base_value", baseValue);
                formData.append("base_type", baseType);

                fetch("{% url 'code_master_list' %}", {
                    method: "POST",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                    },
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) { validationMessage.textContent = "Base Value already exists for this Base Type!" }
                        else { validationMessage.textContent = "" }
                        updateButtonState();
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        validationMessage.textContent = "Error checking Base Value.";
                        createButton.disabled = true;
                    });
            }
            else { validationMessage.textContent = ""; updateButtonState() }
        }
        baseValueInput.addEventListener("input", debounce(checkBaseValue, 500));
        descriptionTextarea.addEventListener("input", updateButtonState);
        updateButtonState();
    })
</script>


{% block contacts_modal %}
{% include "pages/modal/payroll/code_master_modal.html" %}
{% endblock %}
{% endblock content %}