{% extends "partials/base.html" %}
{% load static %}

{% block content %}

<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Page Header -->
                {% block pagetitle %}
                {% include "partials/title.html" with title="Menu Master" %}
                {% endblock pagetitle %}
                <!-- /Page Header -->
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <!-- Search -->
                <div class="row align-items-center">
                    <div class="col-sm-4">
                        <div class="icon-form mb-3 mb-sm-0">
                            <span class="form-icon"><i class="ti ti-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search Menu">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                            <div class="dropdown me-2">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown"><i
                                        class="ti ti-package-export me-2"></i>Export</a>
                                <div class="dropdown-menu  dropdown-menu-end">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" class="dropdown-item"><i
                                                    class="ti ti-file-type-pdf text-danger me-1"></i>Export as
                                                PDF</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="dropdown-item"><i
                                                    class="ti ti-file-type-xls text-green me-1"></i>Export as
                                                Excel </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvas_add"><i class="ti ti-square-rounded-plus me-2"></i>Add
                                Menu Master</a>
                        </div>
                    </div>
                </div>
                <!-- /Search -->
            </div>
            <div class="card-body">
                <!-- Contact List -->
                <div class="table-responsive custom-table">
                    <div class="table-responsive custom-table">
                        <table class="table datatable">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        <label class="checkboxs"><input type="checkbox" id="select-all" /><span
                                                class="checkmarks"></span></label>
                                    </th>
                                    <th>Menu Master</th>
                                    <th class="no-sort">Action</th>
                                </tr>
                            </thead>
                            <!-- <tbody>
                                {% for parent in parent_menus %}
                                <td>{{ parent.screen_name }}</td>
                                {% endfor %}
                            </tbody> -->
                        </table>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="datatable-length"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="datatable-paginate"></div>
                    </div>
                </div>
                <!-- /Contact List -->
            </div>
        </div>
    </div>
</div>
<!-- Page Wrapper -->


{% block contacts_modal %}
{% include "pages/modal/security/menu_master_model.html" %}
{% endblock %}

{% endblock content %}
