{% extends "partials/base.html" %}
{% load static %}
{% block content %}

<!-- Page Wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                {% block pagetitle %}
                {% include "partials/title.html" with title="Projects" count=result_cnt %}
                {% endblock pagetitle %}
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-sm-4">
                                <form method="get">
                                <div class="icon-form mb-3 mb-sm-0">
                                    <span class="form-icon"><i class="ti ti-search"></i></span>
                                    <input type="text" name="keyword" class="form-control" placeholder="Search Projects">
                                </div>
                                </form>
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                                    <div class="dropdown me-2">
                                        <a href="javascript:void(0);" class="dropdown-toggle"
                                            data-bs-toggle="dropdown"><i
                                                class="ti ti-package-export me-2"></i>Export</a>
                                        <div class="dropdown-menu  dropdown-menu-end">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="ti ti-file-type-pdf text-danger me-1"></i>Export
                                                        as PDF</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item"><i
                                                            class="ti ti-file-type-xls text-green me-1"></i>Export
                                                        as Excel </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvas_add"><i
                                            class="ti ti-square-rounded-plus me-2"></i>Add New Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      
                        <div class="table-responsive custom-table">
                            <table class="table datatable">
                                <thead class="">
                                    <tr>
                                        <!-- Remove the checkbox column -->
                                        <!-- <th class="">
                                            <label class="checkboxs"><input type="checkbox" id="select-all"><span class="checkmarks"></span></label>
                                        </th> -->
                                        {% comment %} <th></th> {% endcomment %}
                                        <th>Project Code</th>
                                        <th>Name</th>
                                        <th>Client</th>
                                        {% comment %} <th>Priority</th> {% endcomment %}
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Type</th>
                                        {% comment %} <th>Pipeline Stage</th> {% endcomment %}
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in projects %}
                                    <tr>
                                        <!-- Remove the checkbox column -->
                                        <!-- <td>
                                            <label class="checkboxs">
                                                <input type="checkbox" /><span class="checkmarks"></span>
                                            </label>
                                        </td> -->
                                        {% comment %} <td>
                                            <div class="set-star rating-select"><i class="fa fa-star"></i></div>
                                        </td> {% endcomment %}
                                        <td>
                                            <h2 class="d-flex align-items-center">
                                                <a href="#">{{record.prj_code}}</a>
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="d-flex align-items-center">
                                                <a href="#">{{record.prj_name}}</a>
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="d-flex align-items-center">
                                                {% comment %} <a href="#" class="avatar avatar-sm border me-2">
                                                    <img class="w-auto h-auto" src="{% static record.client_img %}"
                                                        alt="User Image" />
                                                </a> {% endcomment %}
                                                <a href="#">{{record.main_contractor}}</a>
                                            </h2>
                                        </td>
                                        {% comment %} <td>
                                            <span
                                                class="priority badge badge-tag {% if record.priority == 'High' %} badge-danger-light {% elif record.priority == 'Medium' %} badge-warning-light {% else %} badge-success-light {% endif %}">
                                                <i class="ti ti-square-rounded-filled"></i>{{record.priority}}</span>
                                        </td> {% endcomment %}
                                        <td>{{record.timeline_from|date:"d-M-Y"}}</td>
                                        <td>{{record.timeline_to|date:"d-M-Y"}}</td>
                                        <td>{{record.project_type}}</td>
                                        {% comment %} <td>{{record.project_id}} hidden</td> {% endcomment %}
                                        {% comment %} <td>
                                            <div class="pipeline-progress d-flex align-items-center">
                                                <div class="progress">
                                                    <div class="progress-bar {% if record.stage == 'Plan' %} progress-bar-violet {% elif record.stage == 'Develop' %} progress-bar-info {% elif record.stage == 'Completed' %} progress-bar-success {% else %} progress-bar-warning {% endif %}"
                                                        role="progressbar"></div>
                                                </div>
                                                <span>{{record.stage}}</span>
                                            </div>
                                        </td> {% endcomment %}
                                        <td>
                                            <span
                                                class="badge badge-pill badge-status 
                                                        {% if record.is_active %} bg-success {% else %} bg-danger {% endif %}">
                                                {% if record.is_active %} Active {% else %} Inactive {% endif %}
                                            </span>
                                        </td>
                                        <td>
                                            <div class="dropdown table-action">
                                                <a href="#" class="action-icon" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item edit-project-btn" data-bs-toggle="offcanvas"
                                                        data-bs-target="#offcanvas_edit" href="#"
                                                        data-id="{{ record.project_id }}">
                                                        <i class="ti ti-edit text-blue"></i> Edit
                                                    </a>
                                                    <a class="dropdown-item delete-btn" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#delete_project"
                                                        data-project-id="{{ record.project_id }}">
                                                        <i class="ti ti-trash text-danger"></i> Delete
                                                    </a>
                                                    {% comment %} <a class="dropdown-item" href="javascript:void(0);">
                                                        <i class="ti ti-clipboard-copy text-green"></i> Clone this
                                                        Project
                                                    </a> {% endcomment %}
                                                    {% comment %} <a class="dropdown-item" href="javascript:void(0);">
                                                        <i class="ti ti-printer text-info"></i> Print
                                                    </a> {% endcomment %}
                                                    {% comment %} <a class="dropdown-item" href="javascript:void(0);">
                                                        <i class="ti ti-subtask"></i> Add New Task
                                                    </a> {% endcomment %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                         <!-- Pagination -->
                            {% if projects.has_other_pages %}
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div class="showing-entries">
                                    <span>Showing {{ projects.start_index }} to {{ projects.end_index }} of {{ result_cnt }} entries</span>
                                </div>
                                <ul class="pagination">
                                    {% if projects.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ current_url }}page={{ projects.previous_page_number }}">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Previous</a>
                                    </li>
                                    {% endif %}

                                    {% for page in projects.paginator.page_range %}
                                    {% if projects.number == page %}
                                    <li class="page-item active">
                                        <a class="page-link" href="{{ current_url }}page={{ page }}">{{ page }}</a>
                                    </li>
                                    {% elif page > projects.number|add:'-10' and page < projects.number|add:'10' %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ current_url }}page={{ page }}">{{ page }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}

                                    {% if projects.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ current_url }}page={{ projects.next_page_number }}">Next</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    $(".edit-project-btn").click(function (event) {
        event.preventDefault();
        var project_id = $(this).data("id");
        $.ajax({
            url: "/payroll/projects/",
            type: "GET",
            data: {'project_id': project_id},
            success: function (response) {
                alert(response);
                $("#prj_code").val(response.prj_code);
                $("#prj_name").val(response.prj_name);
                $("#project_description").val(response.project_description);
                $("#project_value").val(response.project_value);
                $("#from_date").val(response.timeline_from);
                $("#due_date").val(response.timeline_to);
                $("#prj_city").val(response.prj_city).trigger("change"); 
                $("#comp_code").val(response.comp_code);
                $("#project_id").val(response.project_id);
                $("#project_type").val(response.project_type).trigger("change");
                $("#main_contractor").val(response.main_contractor).trigger("change");
                $("#sub_contractor").val(response.sub_contractor).trigger("change");
                $("#consultant").val(response.consultant).trigger("change");
                $("#prj_city").val(response.prj_city).trigger("change");
                <!-- $("#error_message").val(response.error); -->

                let isActive = response.is_active === true;
                $("#is_Active").prop("checked", isActive);
                var offcanvasElement = new bootstrap.Offcanvas(document.getElementById("offcanvas_edit"));
                offcanvasElement.show();
            },
            error: function (xhr, status, error) {
                console.error("error :", xhr.responseText);
            }
        });
    });

    $(document).ready(function () {
        $(".delete-btn").on("click", function () {
            let projectId = $(this).data("project-id"); 
            $("#delete_project_id").val(projectId);
        });
    })
</script>


{% block projects_modal %}
{% include "pages/modal/payroll/projects-modal.html" %}
{% endblock %}
{% endblock content %}