{% extends "partials/base.html" %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                {% block pagetitle %}
                {% include "partials/title.html" with title="UOM Master" %}
                {% endblock pagetitle %}
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-sm-4">
                                <form method="get" id="searchForm">
                                    <div class="icon-form mb-3 mb-sm-0">
                                        <span class="form-icon"><i class="ti ti-search"></i></span>
                                        <input type="text" name="keyword" class="form-control" placeholder="Search UOM" value="{{ keyword }}">
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                                    <a href="javascript:void(0);" class="btn btn-primary add-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_add">
                                        <i class="ti ti-square-rounded-plus me-2"></i>Add New UOM
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive custom-table">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>UOM</th>
                                        <!-- <th>Sequence</th> -->
                                        <th>Base UOM</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for uom in uoms %}
                                    <tr>
                                        <td>{{ uom.uom }}</td>
                                        <!-- <td>{{ uom.seq }}</td> -->
                                        <td>{{ uom.base_uom }}</td>
                                        <td>
                                            {% if uom.is_active %}
                                            <span class="badge bg-success">Active</span>
                                            {% else %}
                                            <span class="badge bg-danger">Inactive</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="dropdown table-action">
                                                <a href="#" class="action-icon" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item edit-uom-btn" href="#" data-id="{{ uom.id }}">
                                                        <i class="ti ti-edit text-blue"></i> Edit
                                                    </a>
                                                    <a class="dropdown-item delete-btn" href="#" data-bs-toggle="modal" data-bs-target="#delete_uom" data-uom-id="{{ uom.id }}">
                                                        <i class="ti ti-trash text-danger"></i> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Pagination -->
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <div>
                                Showing {{ uoms.start_index }} to {{ uoms.end_index }} of {{ uoms.paginator.count }} entries
                            </div>
                            <nav>
                                <ul class="pagination">
                                    {% if uoms.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ current_url }}page={{ uoms.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for num in uoms.paginator.page_range %}
                                    <li class="page-item {% if uoms.number == num %}active{% endif %}">
                                        <a class="page-link" href="{{ current_url }}page={{ num }}">{{ num }}</a>
                                    </li>
                                    {% endfor %}
                                    {% if uoms.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ current_url }}page={{ uoms.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        // Edit UOM Functionality
        $(".edit-uom-btn").on("click", function (event) {
            event.preventDefault();
            var uomId = $(this).data("id");
            var offcanvasElement = new bootstrap.Offcanvas(document.getElementById("offcanvas_edit"));
            offcanvasElement.show();

            // Reset all fields
            $("#offcanvas_edit input, #offcanvas_edit select").val("");

            $.ajax({
                url: "{% url 'uom_master_edit' %}",
                type: "GET",
                data: { 'uom_id': uomId },
                success: function (response) {
                    // Populate the edit form with the response data
                    $("#uom_id").val(response.id);
                    $("#uom").val(response.uom);
                    $("#seq").val(response.seq);
                    $("#base_uom").val(response.base_uom);
                    $("#is_active").val(response.is_active).change();
                },
                error: function (xhr, status, error) {
                    console.error("Error:", xhr.responseText);
                    alert("Error loading UOM details. Please try again.");
                }
            });
        });

        // Delete UOM
        $("#confirmDelete").on("click", function() {
            var uomId = $(".delete-btn").data("uom-id");
            $.ajax({
                url: "{% url 'uom_master_delete' %}",
                type: "POST",
                data: {
                    'uom_id': uomId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'success') {
                        alert(response.message);
                        location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function(xhr, status, error) {
                    alert("Error deleting UOM. Please try again.");
                }
            });
            $("#delete_uom").modal("hide");
        });
    });
</script>

{% block uom_modal %}
{% include "pages/modal/procurement/uom_master_modal.html" %}
{% endblock %}
{% endblock content %} 